#!/bin/sh
SECRET=$(docker run --rm \
-e METHOD=get \
-e REGISTRY={{ aws_ecr_registry }} \
-e AWS_ACCESS_KEY_ID={{ aws_access_key_id }} \
-e AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }} \
{{ image_name }}:{{ image_version }})
echo $SECRET | grep Secret