#!/bin/sh
SECRET=$(docker run --rm \
-e METHOD=get \
-e REGISTRY={{ aws_ecr_registry }} \
-v $HOME/.aws/credentials:/root/.aws/credentials \
{{ image_name }}:{{ image_version }})
echo $SECRET | grep Secret